.n-navbar{
    background-color: black;
    .nav-border{
        border: solid 4px rgba(16, 192, 163, 0.699);
        border-radius: 50%;
        padding: 12px 12px;
        line-height: 0;
        margin: 8px 0px;
    }
}

