.n-hover{
    cursor: pointer;
    transition: all linear 0.4s;
    -webkit-user-select: none;
    user-select: none;
}

.n-hover:hover{
    transform: translateY(-4px);
}

.n-hover:active{
    transform: translateY(3px);
}

html{
    -webkit-user-select: none;
    user-select: none;
}