.n-hover{
    cursor: pointer;
    transition: all linear 0.4s;
    -webkit-user-select: none;
    user-select: none;
}

.n-hover:hover{
    transform: translateY(-4px);
}

.n-hover:active{
    transform: translateY(3px);
}

.link{
    color: #fff;
    text-decoration: none;
}

.link:hover{
    color: #fff;
}
.app-bg{
    background-color: #0a2647;
    min-height: 100vh;
  }

html{
    -webkit-user-select: none;
    user-select: none;
}

.n-btn{
    border: solid rgb(163, 245, 130) 2px;
    border-radius: 4px;
    padding: 4px 8px;
}